*{
    margin:0;
    padding:0;
    /* . is for class make by us where objects without . is like image div li ul etc. */
}
.nav-bar{ 
    top: 0;  
    position: sticky;
    
}
.div1{
    align-items: center;
    display:flex;
}
.uli1{
    width: 46%;
}
.div2{
    width: 54%;
    display: flex;
    flex-direction: row-reverse;
}

h1{
    font-size: 2.25rem;
}
h2{
    font-size: 2.25rem;
    color: rgba(4, 187, 90, 0.881);
}
.p1{
    font-size: 1.3rem;
    max-width: 560px;
}

.inp-1{
    border-radius: 16px;
    width: 190px;
    height: 35px;
    margin: 4px;
}
.background{
    background: rgba(0,0,0,0.6) url("opcoder/static/opcoder/img/background/bg2(1).jpg");
    /* background-size: cover;
    background-blend-mode: darken; */
}
img{
    border: 2px solid white;
    border-radius: 50%;
}  
.button-1{
    background-color: rgb(0, 176, 82);
    border-radius: 16px;
    width: 75px;
    height: 35px;
    cursor: pointer;
    font-size:19px;
    margin: 4px;
}

.button-1:hover{
    background-color: rgba(0, 176, 82, 0.781);
    border-radius: 14px;
    width: 75px;
    height: 35px;
    cursor: pointer;
    font-size:19px;
    margin: 4px;
}
li{
    display: inline-flex;
}
li a:hover{
    color: rgba(0, 176, 82, 0.781);;
    text-decoration:underline 2px;
}
li a{
    display: block;
    color: rgba(0, 0, 0, 0.915);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.div3{
    display:flex;
    height: 24rem;
    margin-inline: auto;
    max-width: 1450px;
}
.uli3{
    width: 50%;
    padding-top: 20px;
    text-align: left;
}
.div-exp{
    display: flex;
}
.uli4{
    width:50%;
}


.button-2{
    color: #fff;
    background-color: #1577e0;
    border: 1px #1577e0;
    cursor: pointer;
    margin-top: 24px;
    padding: 8px 50px;
    border-radius: 3%;

}

.section1{
    display: flex;
    background-color: #d3d9dfd6;
    color: #03458ce2;
    text-align: center;
    margin-top: 10px;
    padding: 32px;
    font-size: 1.7rem;
    margin-left: auto;margin-right: auto;
    align-items: center;
    max-width: 1450px;
}
.q-ul-1{
    font-style: italic;
    width: 50%;
    display: block;
    border-right: 5px solid;
}
.q-ul-2{
    font-style: italic;
    width:50%;
}

.button-2:hover{
    color: #fff;
    background-color: #085eb9;
    border: 1px #085eb9;
    cursor: pointer;
    padding: 8px 50px;
    border-radius: 3%;
}
h5{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 2.25rem;
    text-align: center;
}
.section2{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: auto;
    max-width: 1500px;
   
    
}
.div4{
    text-align: center;
    border: 2px solid rgb(97, 17, 78);border-radius: 20px;
    height:370px;width:285px;
    margin: auto;margin-bottom: 12px;
    padding: 16px;
}
h3{
    margin-top: 8px;
    margin-bottom: 8px;
}
.div5{
    text-align: left;
}


.text-footer{
    padding: 15px;margin: 6px;
    font-family: 'ubunto',sans-serif;
    color:rgb(14, 13, 13);
    background-color: rgba(211, 240, 226, 0.9);
    text-align: center;
}
