*{
    margin:0;
    padding:0;
    /* . is for class make by us where objects without . is like image div li ul etc. */
}
nav-bar{   
    position: sticky;
    top: 0;
}
.div1{
    align-items: center;
    display:flex;
    margin-left:auto;margin-right:auto;
    max-width: 1450px;
}
.uli1{
    width: 50%;
}
.div2{
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

h1{
    font-size: 2.25rem;
}
h2{
    font-size: 2.25rem;
    color: rgba(4, 187, 90, 0.881);
}
.p1{
    font-size: 1.2rem;
}

.inp-1{
    border-radius: 16px;
    width: 200px;
    height: 35px;
    margin: 4px;
}
.background{
    background: rgba(0,0,0,0.6) url("../img/background/bg2(1).jpg");
    /* background-size: cover;
    background-blend-mode: darken; */
}
img{
    border: 2px solid white;
    border-radius: 50%;
}  
.button-1{
    background-color: rgb(0, 176, 82);
    border-radius: 16px;
    width: 75px;
    height: 35px;
    cursor: pointer;
    font-size:19px;
    margin: 4px;
}

.button-1:hover{
    background-color: rgba(0, 176, 82, 0.781);
    border-radius: 14px;
    width: 75px;
    height: 35px;
    cursor: pointer;
    font-size:19px;
    margin: 4px;
}
li{
    display: inline-flex;
}
li a:hover{
    color: rgba(0, 176, 82, 0.781);;
    text-decoration:underline 2px;
}
li a{
    display: block;
    color: rgba(0, 0, 0, 0.915);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.div3{
    display:flex;
    height: 18rem;
    margin-left: auto;margin-right: auto;
    max-width: 1450px;
}
.uli3{
    width: 50%;
    padding-top: 20px;
    align-items: left;
}
.div-exp{
    display: flex;
}
.uli4{
    width:50%;
}


.button-2{
    color: #fff;
    background-color: #1577e0;
    border: 1px #1577e0;
    cursor: pointer;
    margin-top: 10px;
    padding: 8px 50px;
    border-radius: 3%;

}
.button-2:hover{
    color: #fff;
    background-color: #085eb9;
    border: 1px #085eb9;
    cursor: pointer;
    padding: 8px 50px;
    border-radius: 3%;
}
h5{
    margin-top: 10px;
    font-size: 2.25rem;
    text-align: center;
}
.section1{
    flex-wrap: wrap;
    display: flex;
    margin-left: auto;margin-right: auto;
    max-width: 1500px;
    align-items: center;
    
}
.div4{
    text-align: center;
    border: 2px solid rgb(97, 17, 78);border-radius: 20px;
    height:min-content;width:20%;
    margin: 1%;margin-bottom: 12px;
    padding: 16px;
}
.div5{
    text-align: left;
}


.text-footer{
    padding: 5px 0;
    font-family: 'ubunto',sans-serif;
    color:rgb(33, 25, 28);
    background-color: rgba(142, 172, 157, 0.801);
    text-align: center;
}
