<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'opcoder/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'opcoder/css/styleresponsive.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body> 
    <nav class="nav-bar h-nav-resp" style="background-color:whitesmoke;" >
        <div class="div1">
            <div class="burger r-burger-resp">
                <img class="logo" src="{% static 'opcoder/img/1.jpg' %}" alt="logo">
            </div>
            <ul class="uli1 v-class-resp">
                <li><a href='/'>Home</a></li>
                <li><a href=/video/>Video</a></li>
                <li><a href=/blogs/>Blog</a></li>
                <li><a href=/comment/>Comment</a></li>
                <li><a href=/private/>private</a></li>
            </ul>
            <div class="div2 v-class-resp">
                <div action="/login">
                    <button class="button-1" >login</button>
                </div>
                <div action="/sign_up">
                    <button class="button-1">SignUp</button>
                </div>
                <div action="">
                    <input  type="text" placeholder="Search" aria-label="Search" name="query" class="inp-1" >
                    <button type="submit" class="button-1">Search</button>
                </div>
            </div>
        </div>
    </nav>
    <script src="{% static 'opcoder/js/resp.js' %}"></script>

        {% block body %}{% endblock body %}

    <footer>
        <p class="text-footer">
            copyright &copy; 2027 - WWW.CoadWithAkshat_C.com - All rights reserved.
        </p>
    </footer>
</body>
</html>         