<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'opcoder/css/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="nav-bar background" >
        <div class="div1">
            <img class="logo" src="{% static 'opcoder/img/1.jpg' %}" alt="logo">
            <ul class="uli-1">
                <li><a href='/'>Home</a></li>
                <li><a href=/video/>Video</a></li>
                <li><a href=/blogs/>Blog</a></li>
                <li><a href=/comment/>Comment</a></li>
                <li><a href=/private/>private</a></li>
            </ul>
        </div>
        <div class="logins"style="display: contents;">
            <form class="mx-0" action="">
                <input  type="text" placeholder="Search" aria-label="Search" name="query" class="inp-1" >
                <button type="submit" class="button-0">Search</button>
            </form>
            <form action="/login">
                <button class="button-0" >login</button>
            </form>
            <form action="/sign_up">
                <button class="button-0">SignUp</button>
            </form>
        </div>
    </nav>

        {% block body %}{% endblock body %}

    <footer>
        <p class="text-footer">
            9425679568, 8817932420 | achourey09@gmail.com<br>copyright &copy; 2027 - WWW.CodeWithAkshat_C.com - proudly make by Akshat_c.
        </p>
    </footer>
</body>
</html>