{% extends 'opcoder/base.html' %}
{% block title %}CodeWithAkshat - Blogs{% endblock title %}
{% block body %}

<section class="blog-s1">
<div class="blog-container">
    <h1 class="blog-title">Welcome to Blog Center</h1>
    <p class="blog-title-2">You will find our community thoughts, views and opinion here on current topics as earliest.</p>
    <div class="bmedia">
        {% for bg in blogs %}
        <div class="blog-item">
            <h3 class="blog-title"><a href="/blogpost/{{bg.slug}}">{{bg.title}}</a></h3>
            <p class="blog-meta">{{bg.owner}} | {{bg.time.date}} <br>views {{bg.views}} | Likes {{bg.likes}}</p>
            <p>{{bg.content|safe|truncatewords:48}}</p>
            <button class="blog-btn"><a href="/blogpost/{{bg.slug}}">Read More...</a></button>
        </div>
        {% endfor %}
    </div>
    
    <div class="">
        {% if prev %}
        <button class="blog-btn"><a href="/blogs?page={{prev}}">&laquo; Previous</a></button>
        {% else %}
        <button class="blog-btn"><a href="#">&laquo; Previous</a></button>
        {% endif %}

        {% if nxt %}
        <button class="blog-btn"><a href="/blogs?page={{nxt}}">Next &raquo;</a></button>
        {% else %}
        <button class="blog-btn"><a href="#">Next &raquo;</a></button>
        {% endif %}
    </div>
</div>
</section>

{% endblock body %}
