{% extends 'opcoder/base.html' %}
{% block title %}CodeWithAkshat - BlogPost{% endblock title %}
{% block body %}
{% load static %}

<div class="blogpost-container">
    <div class="blog-content">
        <div class="author-info-section">
            <p class="author-name">{{ post.owner.username }} 👉</p>
            <p class="sub-count"><span id="subscriber-count">{{ owner_sub_count }}</span> Subscribers</p>
            {% if request.user.is_authenticated %}
                {% if request.user != post.owner %}
                    <button id="subscribe-btn"
                            class="sub-btn {% if is_subscribed %}subscribed{% endif %}"
                            data-url="/toggle_subscribe/{{ post.owner.id }}/">
                        {% if is_subscribed %}Subscribed 🙂{% else %}Subscribe{% endif %}
                    </button>
                {% endif %}
            {% else %}
                <button class="sub-btn disabled" onclick="alert('Please login to subscribe!')">Subscribe</button>
            {% endif %}
        </div>
        <div class="">
            <h1 class="mt-0">{{post.title}}</h1>
            {{post.owner}} | {{post.time.date}}
            <br>Views {{post.views}} | Likes <span id="like-count">{{post.likes}}</span>
            <div class="blog-body">
                <p>{{post.content|safe}}</p>
            </div>
        </div>
        <div class="cmore">
            <a href="/blogs" class=""><button class="blog-btn">More Blogs...</button></a>
            <div>
                {% if request.user.is_authenticated %}
                <div class="like-dislike-container" data-url="/like_blog_post/{{ post.sno }}/">
                    <button id="like-button" class="blog-btn" {% if user_has_liked %}disabled{% endif %}>
                        {% if user_has_liked %}Liked! 👍{% else %}👍 Like{% endif %}
                    </button>
                    <button id="dislike-button" class="blog-btn" {% if not user_has_liked %}disabled{% endif %}>
                        {% if not user_has_liked %}Disliked! 👎{% else %}👎 Dislike{% endif %}
                    </button>
                </div>
                {% else %}
                    <div class="like-dislike-container">
                        <button class="blog-btn disabled" onclick="alert('Please login to like this Blog!')">👍 Like </button>
                        <button class="blog-btn disabled" onclick="alert('Please login to dislike this Blog!')">👎 Dislike </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="blog-comment">
        <h1>Comment Section</h1>

        {% if request.user.is_authenticated %}
        <form id="comment-form" method="post"  data-url="/blog_comment/{{ post.sno }}/">
            {% csrf_token %}
            <div class="ccomment">
                <textarea id="new_comment" name="new_comment" class="new_comment" required></textarea>
                <button type="submit" class="blog-btn cblog-btn">Comment</button>
            </div>
        </form>
        {% endif %}

        <div id="comment-list-container">
        {% if not comments %}
            <h2 id="no-comments-msg">No Comments yet...Add one</h2>
        {% else %}
            <div class="comment-list">
            {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.body }}</p>
                <div class="comment-meta">
                    {{ comment.name }} | {{ comment.date|date:"d-m-Y" }}
                </div>
            </div>
            {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>
</div>

<script src="{% static 'opcoder/js/content.js' %}"></script>

{% endblock body %}
