{% extends 'opcoder/base.html' %}
{% block body %}
{% load static %}

<section class="comment">
    <h4>comment</h4> <!--72px-->
    <div class="">
        <form action="/comment" method="get" >
            <div class="form-group">
                <input type="text" name="name" id="name" placeholder="enter your name" class="inp-2"><br>
            </div>
            <div class="form-group">
                <input type="email" name="email" id="email" placeholder="enter your email" class="inp-2" ><br>
            </div>
            <div class="form-group">
                <textarea name="queries" id="text" placeholder="Elaborate your concern." class="inp-2 textarea"></textarea><br>
            </div>
            <button class="button-2" type="submit">Submit</button>
        </form>
    </div>
    <div class="media">
        {% for co in comments %}
        <div class="media-body">
            {{co.name}} || {{co.time.date}}
            <p>{{co.desc}}</p>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock body%}