{% extends 'opcoder/base.html' %}
{% block title %}CodeWithAkshat{% endblock title %}
{% block body %}
{% load static %}

    <section class="section0" >
        <div class="div3">
            <h1>Welcome to</h1> <h2>CodeWithAkshat_C</h2>
            <p class="p-1">Here you will get the original Videos, Blogs, much more - offering deep dives into complex topics, practical coding demonstrations, and insightful articles to become your ultimate resource for high-quality technical knowledge.<br>So stay tuned. </p>
            <div class="div3-exp">
                <div>
                    <button class="button-1"><a href="/videos">Videos</a></button>
                </div>
                <div>
                    <button class="button-1"><a href="/blogs">Blogs</a></button>
                </div>
            </div>
        </div>
        <div class="uli4">
            <img class="uli4-exp" src="{% static 'opcoder/img/background/bg2(1).jpg' %}" alt="side photo">
        </div>
    </section>
    <h5>Quotes</h5>
    <section class="section1">    
        <div class="q-ul-1"><p class="p1 q-1">"Struggle hard because you should have some stories to tell when you succeed."
            <br><br>AKSHAT</p>
        </div>
        <div class="q-ul-2"><p class="p1 q-1">“I found laptop one of the great things in my life until it wont drage me into long napies in the short dreams of life.”
            <br><br>AKSHAT</p>
        </div>
    </section>
    <h5>Recommendations for you</h5>
    <section class="section2">  
        <div class="div4">
            <img class="logo" src="{% static 'opcoder/img/game.png' %}" alt="photo">
            <div class="div5">
                <h3>Gaming center.</h3>
                <p class="p1">Watch videos of diffrent games, and get refreshed with amasing stuntes, shutings, gameplay.</p>
            </div>
            <button class="button-2"><a href="/videos/games">click</a></button>
        </div>
        <div class="div4">
            <img class="logo" src="{% static 'opcoder/img/blog.jpg' %}" alt="photo">
            <div class="div5">
                <h3>New Blogs.</h3>
                <p class="p1"> Watch my blog, enjoy the jorney to the hills, highs and lows of the velly.<br>Read your point of view from my words.</p>
            </div>
            <button class="button-2"><a href="/blogs">click</a></button>
        </div>      
        <div class="div4">
            <img class="logo" src="{% static 'opcoder/img/python.jpg' %}" alt="photo">
            <div class="div5">
                <h3>Programming course.</h3>
                <p class="p1">Get your programming career started with these free courses. Source code is available along with amazing learning experience.</p>
            </div>
            <button class="button-2"><a href="/videos/python">click</a></button>
        </div>
        <div class="div4">
            <img class="logo" src="{% static 'opcoder/img/spirituality.jpg' %}" alt="photo">
            <div class="div5">
                <h3>Spirituality.</h3>
                <p class="p1">Life without parents and science without spirituality is baren, let the breath lead the way to our bright future.</p>
            </div>
            <button class="button-2"><a href="/error404">click</a></button>
        </div>  
    </section>

{% endblock body %}    