{% extends 'opcoder/base.html' %}
{% block body %}
{% load static %}
    <section class="background section-0" >
        <div class="div-2">
            <ul class="uli-2">
                <h1>Welcome to CoadWithAkshat_C</h1>
                <p>Hare you will get the orignal Videos,Photos, Vlogs etc.<br>So stay tuned. </p>
                <div style="display: flex;">
                    <form action="/video">
                        <button class="button-1">Video</button>
                    </form>
                    <form action="/photos">
                        <button class="button-1">Photos</button>
                    </form>
                </div>    
            </ul>
            <img src="{% static 'opcoder/img/2.jpg' %}" alt="logo">
        </div>
    </section>
    <section class="section-1">
        <div class="div-3">
            <img src="{% static 'opcoder/img/game.jpg' %}" alt="photo">
            <div>
                <h3>Gaming center.</h3>
                <p>Watch videos of diffrent games, and get reefreshed <br>with amasing stuntes, shutings, gameplay.</p>
            </div>
            <button class="button-2">click--></button>
        </div>
        <div class="div-3">
            <img src="{% static 'opcoder/img/vlog.jpg' %}" alt="photo">
            <h3>Vlogs of mine.</h3>
            <p> Watch my vloge, enjoy the jorney to the hills, <br>  lots of comedy with my freanda and Kalyug.  </p>
            <button class="button-2">click--></button>
        </div>
        <div class="div-3">
            <img src="{% static 'opcoder/img/python.jpg' %}" alt="photo">
            <h3>Free python courses</h3>
            <p class="p-1">Get your programming career started with these<br> free video courses. Source code is available with all<br> the videos for amazing learning experience.</p>
            <button class="button-2">click--></button>
        </div>     
    </section>
{% endblock body %}
<!-- home, video, blog, commtect, private,  -->
<!-- search, sign, signup -->
